$mainColor: rgb(219, 160, 42);
$fontColor: #000;

.card-english {
  font-weight: bold;
  color: $fontColor;
}

.card-russian {
  color: $fontColor;
}

.card-transcription {
  color: $fontColor;
}

.card button {
  width: 100%;
  height: 30px;
  font-size: large;
  margin-top: 15px;
  background-color: $mainColor;
}